@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Poznan, Poland<br />
    Wroclawska, 21, 61-721<br />
    Call us: 777-777-777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@wonderflower.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@wonderflower.com</a>
</address>